.chessboard{
    display: grid;
    width: 800px;
    border:20px solid rgba(161, 77, 4, 0.755);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.white{
    width: 100px;
    height: 100px;
    background-color: white;
}
.black{
    width: 100px;
    height: 100px;
    background-color: black;
}