html{
    font-size: 30px;
}
p{
    color: coral;
}
#size{
    font-size: 10px;
}
#Weight{
    font-weight: 900;
}
#family{
    font-family: 'Times New Roman', Times, serif;
}
#text{
    text-align: right;
}
