*{
    background-color:black;
    color: white;
}
h3{
    color:green;
    color: blue;
}
pre{
    color: aqua;
}
/* #basic{
    color: chartreuse ;
} */
.preced{
    color:brown
}
.okk{
    color: aqua;
}